* {
  margin: 0px;
  padding: 0px;
}
.navbar {
  background-color: #424874;
  color: #fff;
  padding: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
  font-size: 32px;
  font-weight: 700;
}
.links {
  display: flex;
  font-family: Segoe UI, Optima, Arial, sans-serif;
  font-size: 16px;
  gap: 22px;
}
.top-section {
  display: flex;
  justify-content: center;
  padding: 128px;
  gap: 62px;
  background-color: #424874;
  font-family: Optima, Segoe, Segoe UI, Candara, Calibri, Arial, sans-serif;
  color: #fff;
  flex: 1;
}
.main-text {
  font-size: 32px;
  font-weight: 700;
}
.minor-text {
  font-size: 16px;
}
.album-art img {
  height: 260px;
  width: 400px;
  object-fit: cover;
  border-radius: 10px;
}
.text-left {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 16px;
  width: 400px;
}
.listen {
  padding: 8px 12px;
  border-radius: 10px;
  border-color: #fff;
  background-color: #e0ece4;
}
.music-title {
  text-align: center;
  font-size: 28px;
  font-family: Optima, Segoe, Segoe UI, Candara, Calibri, Arial, sans-serif;
  font-weight: 700;
}
.info-section {
  padding: 64px;
}
.music-container {
  padding: 32px;
  display: flex;
  justify-content: center;
  gap: 18px;
}
.lyric-section {
  padding: 64px;
  display: flex;
  background-color: #cdf0ea;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  font-family: "Brush Script MT", cursive;
  color: #214341;
}
.lyric-from {
  display: flex;
  justify-content: right;
  font-size: 16px;
  font-weight: 550;
  font-family: Optima, Segoe, Segoe UI, Candara, Calibri, Arial, sans-serif;
}
.buy-section {
  display: flex;
  padding: 64px;
  justify-content: center;
  align-items: center;
}
.buy-box {
  background-color: #ffb6b9;
  border-radius: 12px;
  padding: 32px;
  display: flex;
  width: 50%;
  justify-content: space-between;
  align-items: center;
  font-family: Optima, Segoe, Segoe UI, Candara, Calibri, Arial, sans-serif;
}
.buy-texts {
  color: #fff;
}
.text-top {
  font-size: 22px;
  font-weight: 650;
}
.buy-button {
  padding: 8px 12px;
  border-radius: 12px;
  border-color: #fff;
  background-color: #e0ece4;
}
.footer-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px;
  background-color: #424874;
  color: white;
  font-family: Optima, Segoe, Segoe UI, Candara, Calibri, Arial, sans-serif;
}
a {
  text-decoration: none;
  color: #fff;
}
